<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <form class="list" >
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">อีเมล์</span>
                    <input ng-model="user.username" type="text" placeholder="" >
                </label>
                <label class="item item-input">
                    <span class="input-label">รหัสผ่าน</span>
                    <input ng-model="user.password" type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button  class="button button-stable button-block " ng-click="login(user)" >เข้าสู่ระบบ</button>
			
            <a href="#/page5" class="button button-positive button-clear button-block ">สร้างบัญชีใหม่</a>
        </form>
    </ion-content>
</ion-view>