<ion-view title="Product">
    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
            
        </div>
        <div class="list card">
            <div class="item item-divider"><b>รายละเอียด</b></div>
            <div class="item item-body">
                <div>
					<p> {{name}}</p>
                    <p>{{desc}}</p>
                    <b><p>ราคา: {{price}} บาท</p></b>
                    <a  ng-click="addToCart()" class="button  button-balanced button-clear   icon ion-android-cart">  </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>