<ion-view title="Signup">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">ชื่อ</span>
                    <input type="text" placeholder="" ng-model="data.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">ชื่อผู้เข้าใช้</span>
                    <input type="email" placeholder="" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">รหัสผ่าน</span>
                    <input type="password" placeholder="" ng-model="data.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">เบอร์โทรศัพท์</span>
                    <input type="number" placeholder="" ng-model="data.phone">
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">ที่อยู่</span>
                <input type="text" placeholder="" ng-model="data.address">
            </label>
            <label class="item item-input">
                <span class="input-label">รหัสไปรษณีย์</span>
                <input type="number" placeholder="" ng-model="data.pincode">
            </label>
            <button ng-click="signup(data)" class="button button-stable button-block ">ลงชื่อเข้าใช้</button>
        </form>
    </ion-content>
</ion-view>